<div class="container">
  <form class="flex-group justify-between" [formGroup]="countryForm">
    <div
      class="form-group flex-group background-primary"
      appDropShadow
      [offsetX]="1"
      [offsetY]="1"
      [blurRadius]="1"
    >
      <img src="/assets/icons/search-outline.svg" alt="" width="20" />
      <label for="country" class="visually-hidden">Search for a country</label>
      <input
        type="text"
        id="country"
        class="input"
        placeholder="Search for a country..."
        formControlName="name"
        (input)="onCountrySearched()"
      />
    </div>
    <div
      class="form-group background-primary"
      appDropShadow
      [offsetX]="1"
      [offsetY]="1"
      [blurRadius]="1"
    >
      <label for="regions" class="visually-hidden">Filter by Region</label>
      <select
        id="regions"
        formControlName="region"
        (change)="onRegionChanged()"
      >
        <option [value]="fallbackRegion" selected>Filter by Region</option>
        <option *ngFor="let region of regions.slice(1)" [value]="region">
          {{ region }}
        </option>
      </select>
    </div>
  </form>
</div>
